<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087855424394-dqdfbb8fa2jsjv9ehvcghabhekesnpn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087855424394-dqdfbb8fa2jsjv9ehvcghabhekesnpn8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1087855424394-frso7uf572ledkp322mcnsnk7sip0251.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAundYADoSHKd4eUpCfbSSQ6W7HmWNz8zI</string>
	<key>GCM_SENDER_ID</key>
	<string>1087855424394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.protestersoath.protestersoath</string>
	<key>PROJECT_ID</key>
	<string>protesters-oath</string>
	<key>STORAGE_BUCKET</key>
	<string>protesters-oath.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087855424394:ios:73d498fc25bf7891fa8e73</string>
	<key>DATABASE_URL</key>
	<string>https://protesters-oath.firebaseio.com</string>
</dict>
</plist>