<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111371745959-f75s5snkrbkoa1i5dhch0nci0dpvptbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111371745959-f75s5snkrbkoa1i5dhch0nci0dpvptbk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>111371745959-5pbhbep27tkae3a4g64ku5ibqnge234g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGhQ-qBWnfustSPqv4XWWZQDr0w1PcGnw</string>
	<key>GCM_SENDER_ID</key>
	<string>111371745959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.protestersoath.protestersoath</string>
	<key>PROJECT_ID</key>
	<string>the-protesters-oath</string>
	<key>STORAGE_BUCKET</key>
	<string>the-protesters-oath.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111371745959:ios:e8fabbcdcc07e1718bb982</string>
	<key>DATABASE_URL</key>
	<string>https://the-protesters-oath.firebaseio.com</string>
</dict>
</plist>